* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-size: 24px;
}

h1 {
    text-align: center;
    margin: 30px;
}

h1, a {
    color: steelblue;
    text-align: center;
}

p {
    text-align: center;
    width: 500px;
    margin: 10px auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
}

/* You can put commas to target different elements at the same time
h1, p {
    color: red;
} */

nav {
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    background-color: lightgray;
    margin: 10px;
    border: 2px solid rgb(73, 60, 169);
    border-radius: 5px;
}

nav a:hover {
    color: rgb(68, 73, 132);
    background-color: rgb(231, 231, 231, .6);
}

/* Centering the image:
You can make it a block with display: block and then centering it with margin: 0 auto, or you could put the image in its own <div> section and center it with margin 0 auto */
img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

#container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(235, 233, 253);
}

.room {
    background-color: rgb(231, 231, 231);
    color: rgb(73, 60, 169);
}
