body {
    text-align: center;
    font-size: 24px;
}

h1, a {
    color: steelblue;
    text-align: center;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(235, 233, 253);
}

nav {
    text-align: center;
}

#active {
    background-color: steelblue;
    color: white;
}

.room {
    background-color: rgb(231, 231, 231);
    color: rgb(73, 60, 169);
}

/* Centering the image:
You can make it a block with display: block and then centering it with margin: 0 auto, or you could put the image in its own <div> section and center it with margin 0 auto */
img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

nav a {
    text-decoration: none;
}

/* You can put commas to target different elements at the same time
h1, p {
    color: red;
} */

nav a:hover {
    color: rgb(68, 73, 132);
}